---
import RandomButton from "../components/RandomButton.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
	<main>
		<section>
			<div class="mx-auto max-w-[1400px] px-5">
				<h1
					class="flex flex-col py-2 text-start text-2xl font-bold tracking-tight text-balance text-gray-800"
				>
					About Us
				</h1>
				<p class="bg-amber-200 text-2xl text-gray-600">
					We are a team of passionate developers and designers who love creating beautiful and
					functional web applications.
				</p>
			</div>
			<!-- <p id="randomNumer" class="px-5 max-w-[1400px] mx-auto">
      </p> -->
			<RandomButton server:defer>
				<p slot="fallback" class="mx-auto max-w-[1400px] bg-red-200">
					<span class="px-5">loading...</span>
				</p>
			</RandomButton>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ratione.</p>
		</section>
	</main>
</Layout>

<script>
	// import { RANDOM_N } from "astro:env/client";

	// const scoreElement = document.getElementById("randomNumer");

	// fetch(RANDOM_N).then((res) => res.text()).then((data) => {
	//   if(scoreElement) {
	//     scoreElement.innerHTML = `puntuacion de la API: ${data}`;
	//   }
	// })
</script>
